<h1>Listing digital_object_identifiers</h1>

<table>
  <thead>
    <tr>
      <th>String identifier</th>
      <th>Integer identifier</th>
      <th>Description</th>
      <th>User Id</th>
      <th>Current URL</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @digital_object_identifiers.each do |digital_object_identifier| %>
      <tr>
        <td><%= digital_object_identifier.string_identifier %></td>
        <td><%= digital_object_identifier.integer_identifier %></td>
        <td><%= digital_object_identifier.description %></td>
        <td><%= digital_object_identifier.user_id %></td>
          <% if digital_object_identifier.urls.first %>
            <td><%= digital_object_identifier.urls.first.url %></td>
          <% else %>
            <td></td>
          <% end %>

	<td><a href="#" data-dropdown="drop">Action</a>
	<ul id="drop" class="f-dropdown" data-dropdown-content>
		<li><%= link_to 'Show', digital_object_identifier %></li>	
        	<% if digital_object_identifier.user_id == current_user.id %>
		<li><%= link_to 'Edit', edit_digital_object_identifier_path(digital_object_identifier %></li> 
       		<li><%= link_to 'Destroy', digital_object_identifier, method: :delete, data: { confirm: 'Are you sure?' } %></li>		
        	<% end %>
	</ul></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Digital object identifier', new_digital_object_identifier_path %>
